!!! 5
%html
  %head
    - @title = "via Canna d&#39;Organo"
  
    = haml :_head

  %body
    = haml :_header
                
    %section.ascension
      
      %article
        %header 
          %h1 Via Canna d&#39;Organo
        
        %p L&#39;itinerario si svolge sotto la verticale di quel caratteristico campanile, simile ad una canna d&#39;organo, che, dal rifugio falier, si vede stagliare nettissimo tra quella serie di torri che orlano la cresta della montagna, fra Punta Rocca e la Marmolada d&#39;Ombretta.
        %p L&#39;enorme spigolone che precipita strapiombante sotto la &ldquo;Canna d&#39;Organo&rdquo; fino alla base della parete, forma e delimita a sinistra e a destra di chi guarda la parete stessa, due giganteschi diedri.
        %p L&#39;attacco si trova in centro alla faccia destra del diedro di sinistra. Si salgono facilmente i primi 20 metri dello zoccolo fino ad una cengetta con erba, dove inizia la salita vera e propria. Si arrampica per due lunghezze di corda per diedri slavati  con fessure.  Il terzo tiro si svolge, sempre direttamente per una placca con esile fessurina (1 ch.) fin sotto ad uno strapiombo che porta a quelle caratteristiche fessure oblique da destra a sinistra, ben visibili dal basso. Si seguno dette fessure con strapiombi, quindi, dove obliquano a destra, si continua fino ad arrivare ad un diedro fessurato e grigio a sinistra di un enorme strapiombo squadrato  che incombe sul filo dello spigolo. Avanti per le fessure di destra del diedro (1 ch.) ed ancora direttamente fino sotto ad un altro enorme strapiombo.
        %p Si sale a sinistra dello strapiombo per tre lunghezze di corda nel fondo del diedro, quindi obliquando in alto a destra, su placche grigie, fin sotto ad uno strapiombo giallo (ch. Ed un cuneo inservibile). Avanti fino ad un ottimo terrazzino. Si prosegue per un diedro chiuso da uno strapiombo giallo che si supera sulla destra, quindi con un tiro obliquo a destra  si arriva ad un ottimo posto di sosta. 
        %p Ora si va al di l&agrave; dello spigolo, cio&egrave; sulla faccia sinistra del diedro di destra delimitato appunto dalla &ldquo;Canna d&#39;Organo&rdquo;  come detto all&#39;inizio. Si attraversa per cengia per 20 metri (1 ch.)  alzarsi per 5 metri (1 ch. con moschettone), attraversare a destra per  5 metri  (1 ch. con moschettone) quindi calarsi per quasi 20 metri ed attraversare un canalino. Salire sulla destra per una difficile fessura di circa 8 metri e proseguire per massi sovrapposti con minori difficolt&agrave;. Su per un camino che porta ad un colatoio con acqua, neve e ghiaccio. Lo si rimonta, a volte, con salita artificiale (per entrarvi e per evitare la caduta d&#39;acqua ed il ghiaccio) fino ad arrivare ad un vallone ad imbuto.
        %p Su un tiro nel fondo, poi avanti per fessure, placche e diedri superficiali, leggermentea destra del colatoio principale, fino che si riesce sulla cresta sormontata da un grosso cornicione sommitale del ghiacciaio, a circa 150 metri a sinistra della Capanna Dallago.
        %p Ottocento metri. 
        
      %aside
        
        %section.details
          
          %article.place
            %header
              %h3 Luogo
            %img.map(src="http://maps.googleapis.com/maps/api/staticmap?center=46.435846,11.861286&zoom=10&size=209x189&maptype=terrain&sensor=false")
            Marmolada di Rocca m.3200
            %br/
            Parete Sud &ndash; Via Canna d&#39;Organo           
          %article.history
            %header
              %h3 Cronologia
            %ul
              %li 
                %time 1965, Agosto 
                Prima salita: A. Aste, F. Solina 
              %li 
                %time 
                Prima invernale solitaria: L. Massarotto