!!! 5
%html
  %head
    = haml :_head

  %body
    = haml :_header
    
    %section#hero

      %article.poetry
        Come chi ha spenti i lumi 
        %br/
        e a brancicare si trova
        %br/
        in mezzo a buio inusitato e vuoto
        %br/
        e con mano protesa e tremante
        %br/
        cercare la via, deve,
        %br/
        per avanzare. 
        %br/
        Cos&igrave;, sul cammino dell&#39;ardua ascesa.
        %br/
        Lass&ugrave;, il richiamo,
        %br/
        alto dal cielo si leva
        %br/
        e a invitare ti viene
        %br/
        e tu lo senti e dici:
        %br/
        &laquo;qual &egrave;, Signore, la mia via?&raquo;
        
        %p.poetry-author
          Armando Aste      