!!! 5
%html
  %head
  
    = haml :_head

  %body
    = haml :_header
                
    %section#legacy.article-container
      %article.article
        %p 
          %b Armando Aste 
          nasce a Reviano di Isera il 6 gennaio&nbsp;
          %b>1926
          \. &Egrave; il primogenito di Giuseppe, che fa il contadino, e di Maria, che lavora alla Manifattura Tabacchi di Rovereto.

        %p 
          I genitori sono occupati al lavoro, cos&igrave; il nonno materno, mugnaio nella valle di Cavazzin sopra Nogaredo, prende con   s&egrave; il piccolo&nbsp; 
          %b>Armando
          \. I primi anni di vita, vissuti con il nonno nel mulino di montagna, incidono tracce profonde e indelebili ricordi nello spirito e nel cuore del bambino. Tornato in famiglia per frequentare le elementari, 
          %b Armando 
          si distingue come scolaro sensibile e intelligente; ma &egrave; il primo di sei fratelli e il padre Giuseppe &egrave; nel frattempo partito per l&#39;Africa, richiamato per la guerra. 
          %b Armando 
          deve terminare in fretta le tre classi avviamento, per dare una mano all&#39;economia familiare.

        %p Due fratellini, Antonio e Anna, muoiono ancora in fasce; poi c&#39;&egrave; Franco, nato nel 1930. Un altro fratello, sempre Antonio, muore a undici anni. L&#39;ultimo nato, che pure viene chiamato Antonio, &egrave; colpito da una gravissima malattia che lo costringer&agrave; a vivere in uno stato vegetativo.

        %p 
          A quindici anni 
          %b Armando 
          inizia a lavorare come fattorino in un&#39;azienda di spedizioni, poi passa a fare il portiere d&#39;albergo; successivamente lavora alle dipendenze della ditta Mayer, che si occupa di lavori stradali, costruzioni di argini e ponti. Dopo il
          %b 1943 
          viene precettato dalla Wehrmacht che lo trasferisce a Merano, a lavorare alle ex caserme di cavalleria di Maia Bassa.

        %p 
          Nel&nbsp; 
          %b 1944 
          Armando viene assunto come &laquo;operaio comune&raquo; alla Manifattura Tabacchi che, a Rovereto, impiegava allora mille e cinquecento persone. Passer&agrave; poi operaio specializzato, prender&agrave; la patente di fuochista e pi&ugrave; tardi diventer&agrave; capo operaio della centrale termica.

        %p &#laquo;Per produrre il vapore necessario alla lavorazione del tabacco e per tutti i servizi, si dovevano bruciare centoventi quintali di carbone ogni giorno. Quello era il mio allenamento durante la settimana, perch&eacute; mi ero abituato a spalare usando alternativamente la destra e la sinistra.&raquo;

        %p Lavorer&agrave; ininterrottamente per quarant&#39;anni sino alla pensione (1980).

        %p La famiglia Aste abita a Borgo Sacco, alla periferia occidentale di Rovereto.

        %p 
          Sopra Borgo Sacco, sulle pendici del Monte Biaena, c&#39;&egrave; la guglia di Castelcorno, una palestra di roccia ideale.&nbsp;
          %b>Armando
          , di nascosto, si mette a imitare alcuni giovani di Rovereto che sul Castelcorno vanno ad arrampicare. La travolgente passione per la roccia lo afferra cos&igrave;, da autodidatta. Conosce quei giovani che, nel&nbsp;
          %b>1948
          , fondano il Gruppo Roccia e Alta Montagna &laquo;Ezio Polo&raquo; della SAT (Societ&agrave; Alpinisti Tridentini) di Rovereto.

        %p 
          La sua prima salita, ancora nel&nbsp;
          %b>1947
          , &egrave; sul Baffelan, per la via del Pilastro, nelle Piccole Dolomiti vicentine. Nel&nbsp;
          %b>1949
          , dopo la normale al Campanile Basso, in Brenta, 
          %b Armando 
          prende il volo: la sua straordinaria sensibilit&agrave; a interpretare la roccia e l&#39;arrampicata lo portano in breve tempo a confrontarsi con le vie classiche pi&ugrave; famose di allora.

        %p &laquo;Ero tutto nervi, di un&#39;agilit&agrave; naturale e mi sentivo tagliato per la roccia.&raquo;

        %p Il Brenta, facilmente raggiungibile in bicicletta da casa, diventa il suo territorio d&#39;elezione.

        %p 
          Nel&nbsp;
          %b>1950 
          sale la Steger al Croz dell&#39;Altissimo e nel
          %b 1951 
          fa la seconda ripetizione della via che sulla Cima d&#39;Ambiez hanno tracciato i suoi maestri ideali, 
          %b Pino Fox 
          e&nbsp;
          %b>Marino Stenico
          \.

        %p 
          %b 1950 
          15 Agosto: fa la terza solitaria della Preuss alla parete Est del Campanile Basso dopo 
          %b Preuss 
          e&nbsp;
          %b>Comici
          \.

        %p 
          Nel&nbsp;
          %b>1952
          , con&nbsp; 
          %b>Franco Salice
          , apre una via nuova ancora sull&#39;Ambiez (parete Sud-Est).

        %p 
          Nel 
          %b 1952 
          incontra&nbsp; 
          %b>Fausto Susatti
          \: &egrave; un sodalizio che li porta lontano, a ripetere le vie pi&ugrave; difficili delle Dolomiti come la 
          %i Costantini-Apollonio 
          al Pilastro della Tofana, la 
          %i Livanos-Gabriel 
          alla Cima Su Alto, in Civetta, la 
          %i Vinatzer-Castiglioni 
          alla Marmolada e, in Occidentali, la 
          %i Bonatti-Ghigo 
          al Grand Capucin.

        %p
          %b Iniziano anche gli anni della ricerca delle vie nuove.
        
        %p Apr&igrave; vie nuove di estrema difficolt&agrave; e di grande eleganza, con uno stile che privilegiava l&#39;arrampicata libera.

        %p Armando Aste ha scritto un solo libro autobiografico: &ldquo;Pilastri del Cielo&rdquo; uscito, in prima edizione, nel 1975 per l&#39;editore Reverdito di Trento. 

        %p La seconda edizione con il titolo: &ldquo;Cuore di Roccia&rdquo; editore Manfrini di Cagliano. La terza edizione ancora con il titolo originario: &ldquo;Pilastri del Cielo&rdquo; per l&#39;editore Nord Press. La quarta edizione con il medesimo titolo sempre per l&#39;editrice Nord Press.

        %p Nota: Ad ogni nuova edizione il libro usciva corretto ed aggiornato.

        %p L&#39;ultimo lavoro una raccolta di testimonianze con il titolo &ldquo;Armamdo Aste Alpinismo epistolare&rdquo; uscito nel 2011 per la Nuovi Sentieri editore di Bepi Pellegrinon.

        %p Aste ha anche realizzato film a soggetto alpinistico e tenuto centinaia di incontri e conferenze per illustrare il suo alpinismo. Accademico e socio onorario del CAI, membro del GISM (Gruppo Italiano Scrittori di Montagna), gi&agrave; socio del Bergland di Vienna e ora (2012) anche socio onorario del TrentoFilmfestival.

      %aside.article-aside
        %section#legacy-history
          %header 
            %h3 Cronologia Alpinistica
          %ul 
            %li 
              %time 1947 
              Piccole Dolomiti. Parete del Baffelan. Ripetizione della via del Pilastro con &nbsp;
              %b> Sergio Dorigotti
              \. Prima uscita in parete dopo le esperienze sulla palestra di Castelcorno

            %li 
              %time 1951 
              Cima d&#39;Ambiez. Parete Sud-Est. Nuova via tra la Fox e la Stenico-Girardi con 
              %b Franco Salice

            %li 
              %time 1953 
              in Brenta, con&nbsp;
              %b Fausto Susatti
              , 
              %b Aste 
              traccia una nuova via sulla 
              %i Est 
              della Cima Sud di Pratofiorito

            %li 
              %time 1953 
              %b Prima solitaria 
              della variante 
              %i Steger 
              al Croz dell&#39;Altissimo

            %li 
              %time 1953 
              %b Prima solitaria 
              alla Graffer-Miotto allo Spallone del Campanile Basso e in vetta per la via Pooli-Trenti con discesa per la Preuss

            %li 
              %time 1954 
              Ancora con Fausto Susatti un&#39;altra via nuova sulla parete 
              %i Nord-Ovest 
              della Punta Civetta. A determinare le sue scelte &egrave; un suo singolare intuito per la &laquo;via naturale&raquo;, la linea pi&ugrave; estetica, suggerita dalla logica e dalla struttura stessa della roccia dove si possa esplicare la sua arrampicata, elegante, mai aggressiva, possibilmente libera.

            %li 
              %time 1954 
              %b Prima solitaria 
              in Civetta alla 
              %i Tissi-Andrich-Bortoli 
              alla 
              %i Sud 
              della Torre Venezia

            %li 
              %time 1955  
              &egrave; la nuova via della 
              %i Concordia 
              ancora sulla muraglia dell&#39;Ambiez, con Angelo Miorandi e la cordata degli amici 
              %b Andrea Oggioni 
              e 
              %b Josve Aiazzi

            %li 
              %time 1956 
              %b Prima solitaria 
              (26-27 agosto) della via 
              %i Concordia
              sulla parete 
              %i Est 
              della Cima d&#39;Ambiez

            %li 
              %time 1957 
              fu anche tra i protagonisti dell&#39;alpinismo invernale con la ripetizione della via 
              %i Carlesso-Sandri 
              alla Torre Trieste insieme ad&nbsp;
              %b>Angelo Miorandi
              \. Con questa salita ebbe inizio il periodo delle grandi invernali nel gruppo della Civetta.

            %li
              %time 1957 
              l&#39;incontro con 
              %b Franco Solina 
              lo porter&agrave; ad aprire ancora itinerari di grande difficolt&agrave;, mai prima affrontati in Dolomiti

            %li 
              %time 1958 
              Punta Chiggiato sul Focobon (Pale di San Martino): parete Nord con Franco Solina e  Anticipa del 
              %i Serauta 
              (Gruppo della Marmolada) con 
              %b Toni Gross

            %li 
              %time 1959&nbsp; 
              %i>Torre del Focobon
              , (Pale di San Martino) con 
              %b Josve Aiazzi 
              e Piz Serauta: direttissima, via della 
              %i Madonna Assunta 
              con Franco Solina, pure nel 59 il Gran Diedro del Crozzon di Brenta con 
              %b Milo Navasa

            %li 
              %time 1960 
              Via Fausto Susatti alla Spiz d'Agner Nord con Franco Solina e Aiazzi &ndash; 
              %b Prima solitaria 
              della via Buhl alla Roda di Vael (Catinaccio) &ndash; 
              %b Prima solitaria 
              della via 
              %i Couzy 
              alla Nord della Cima Ovest di Lavaredo

            %li
              %time 1960 
              Alpi Liguri: Spigolo della cima Tino Prato al Marguereis con 
              %b Armando Biancardi

            %li 
              %time 1961 
              Spiz d'Agner Nord, Spigolo Nord-Est, prima ascensione, dedicata ad Andrea Oggioni, con 
              %b Solina 
              e 
              %b Miorandi

            %li
              %time 1961 
              ancora con 
              %b Miorandi 
              traccia  la via 
              %i Rovereto 
              sullo Spallone del Campanile Basso

            %li 
              %time 1961 
              con&nbsp; 
              %b>Marino Stenico
              , compie la prima ascensione dello 
              %i Spigolo Sud-Ovest 
              della Cima dei Mugoni (Catinaccio).

            %li 
              %time 1962 
              %b Prima Italiana alla Parete Nord dell&#39;Eiger 
              con Franco Solina, Lorenzo Acquistapace, e con la cordata di Mellano, Perego e Airoldi &ndash; Cima Tosa parete Ovest Via (nuova) &ldquo;Citt&agrave; di Brescia&rdquo; con Franco Solina

            %li
              %time 1963 
              Spedizione del CAI Monza alle Torri del Paine (Cile): Prima ripetizione &ldquo;Via degli Inglese&rdquo; alla Torre Centrale. Torre Sud (ora Torre Padre Alberto Maria De Agostini) 
              %b prima assoluta 
              per parete e cresta Nord. Itinerario dedicato alla memoria di Andrea Oggioni

            %li
              %time 1964 
              via 
              %i dell&#39;Ideale 
              sulla Sud della Marmolada d'Ombretta (parete d'Argento) con Franco Solina (prima ripetizione di R. Messner, S. Mayerl, H. Holzer e H Messner)

            %li 
              %time 1965 
              Parete Sud della Marmolada di Rocca: via della 
              %i Canna d&#39;Organo 
              con F. Solina

            %li
              %time 1966 
              Ande Patagoniche: tentativo alla Torre Innominata del Paine con F. Solina, Cesarino Fava, Filippo Frasson, Alberto Aristarain, Fausto Barozzi e Mario Castellazzo  (tentativo fallito a causa del maltempo persistente) &ndash; Nel corso della spedizione sono state salite una serie di cime vergini (cordone &ldquo;Vittoria Alata&rdquo;) la pi&ugrave; importante delle quali &egrave; stata dedicata ad Andrea Oggioni

            %li
              %time 1968 
              %i Anticima Nord 
              della Busazza parete Ovest con l&#39;amico 
              %b Aiazzi

            %li 
              %time 1971 
              Ande Patagoniche: Spedizione &ldquo;Citt&agrave; di Rovereto&rdquo; al Pilone Orientale del Fitz Roi (causa tempo impossibile &ldquo;il Pilone ha detto No&rdquo;). Nonostante il tempo inclemente sono state salite alcune cime minori dedicate ad amici scomparsi; sulla cresta Est degli Italiani e sulla creta Ovest che iniziano dal lago di Los Tres)

            %li
              %time 1976 
              Tentativo di recupero delle salme di Filippo Frasson e Marco Bianchi caduti dalla parete Ovest del Fitz Roy. Il gruppo di alpinisti era composto da: A. Aste, M. Frizzera, F. Solina, C. Fava, Padre Ernesto Milan, Attilio Frasson e Boris Cambic

            %li
              %time 1978 
              %b Prima solitaria 
              allo 
              %i Spigolo 
              della Torre della Vallaccia (Monzoni)

            %li 
              %time 1985 
              Ande Patagoniche: spedizione al Cerro Astillado (ora torre Giovanni Spagnolli) per ricordare la memoria di questo grande amico gi&agrave; presidente nazionale del CAI. Componenti: A. Aste, Fabrizio Defrancesco, Mario Manica e Mariano Marisa.

              