%ul#header-nav-subnav
  %li.group Dolomiti e Alpi:
  %li
    %a{:href => "/imprese/concordia", :title => "1955 - Via della Concordia", :class => ("active" if params[:challenge] == ('concordia'))  }
      via della Concordia     
  %li
    %a{:href => "/imprese/gabrielli", :title => "1959 - Via Giulio Gabrielli", :class => ("active" if params[:challenge] == ('gabrielli')) }
      via Giulio Gabrielli
  %li
    %a{:href => "/imprese/rovereto", :title => "1961 - Via Rovereto", :class => ("active" if params[:challenge] == ('rovereto')) }
      via Rovereto  
  %li 
    %a{:href => "/imprese/heckmair", :title => "1962 - Via Heckmair", :class => ("active" if params[:challenge] == ('heckmair'))}
      via Heckmair
  %li 
    %a{:href => "/imprese/ideale", :title => "1964 - Via dell'Ideale", :class => ("active" if params[:challenge] == ('ideale'))}
      via dell&#39;Ideale                
  %li
    %a{:href => "/imprese/canna_organo", :title => "1965 - Via Canna d&#39;Organo", :class => ("active" if params[:challenge] == ('canna_organo'))}
      via Canna dell&#39;Organo   
  
  %li.group Ande:
  %li 
  %li 
  %li 
  %li 